@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD");
}

<h2>@ViewData["Title"]?</h2>
<h4>@SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD_ENTER_EMAIL")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("SUBMIT")</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
