@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE_VERIFICATION");
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    @SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE_VERIFICATION_TEXT")
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryCode">@SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE")</label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}