@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@model ChangePasswordViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CHANGE_PASSWORD");
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage"/>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword">@SharedLocalizer.GetLocalizedHtmlString("CURRENT_PASSWORD")</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">@SharedLocalizer.GetLocalizedHtmlString("NEW_PASSWORD")</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@SharedLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("UPDATE_PASSWORD")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
