@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES");
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_SAFE_PLACE")</strong>
    </p>
    <p>
        @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_INFO_LOSE")
    </p>
    <p>
        @SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT")
        <a asp-action="ResetAuthenticatorWarning">@SharedLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT_LINK")</a>
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@SharedLocalizer.GetLocalizedHtmlString("GENERATE_RECOVERY_CODES")</button>
    </form>
</div>
